<div class="col-sm-8 blog-main">

  <% flash.each do |key, value| %>
    <div class="alert blog-custom-alert">
      <%= content_tag(:div, value, :class => "flash #{key}") %>
    </div>
  <% end %>

  <%= paginate @blogs %>
  
  <%= render @blogs %>
 
  <%= paginate @blogs %>

</div>