<div class="card">
  <%= image_tag portf_item.thumb_image unless portf_item.thumb_image.nil? %>

  <p class="card-text">
    <span><%= link_to portf_item.title, portfolio_show_path(portf_item.id) %></span>
    <br>  
    <%= portf_item.subtitle %>

  </p>
</div>