<div class="masthead clearfix">
  <div class="inner">
    <a class="navbar-brand text-dark" href="/"><h3>Abigail Campos</h3></a>
    <nav class="nav nav-masthead app-nav">
      <%= nav_helper 'nav-link text-dark', 'span' %>
      <%= login_helper 'nav-link text-dark'%>
    </nav>
  </div>
</div>