<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">DevelopExp Blog</h1>
    <p class="lead blog-description">Welcome to my knowledge corner, where I share glimpses about my professional journey alongside some tutorials of what I've learned while working on different projects. Hope you find it useful and interesting.</p>
    <span>
      <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin)%>
    </span>    
    <span>
      <%= link_to 'Topics', topics_path %>
    </span>
  </div>
</div>