<div class="app-card-container">
  <div class="card box-shadow">

    <h2 class="card-title">About Me</h2>
    <hr>
    <div class="row">
      <div class="col-md-4 my-auto">
        <%= image_tag "thumb-1920-838010.jpg", width:'100%', alt: "profile image", class:'profile-img' %>
      </div>
      <div class="col-md-8 card-body">
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At urna condimentum mattis pellentesque. Sed nisi lacus sed viverra tellus in hac habitasse platea. Nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Malesuada fames ac turpis egestas. Nibh nisl condimentum id venenatis. Augue lacus viverra vitae congue eu consequat. 
        Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum. Varius duis at consectetur lorem donec massa. Placerat vestibulum lectus mauris ultrices eros in cursus. Lorem sed risus ultricies tristique nulla aliquet enim tortor at. Ornare massa eget egestas purus viverra accumsan in nisl nisi. Donec pretium vulputate sapien nec sagittis. Pellentesque dignissim enim sit amet venenatis urna.</p>
      </div>
    </div>
  </div>
</div>


