<div class="app-card-container">
  <div class="card box-shadow">
    <h1>Would you like to work together?</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h3>Address</h3>
        <p>Puntarenas, Coto Brus, Sabalito</p>
        <h3>Phone</h3>
        <p><%= number_to_phone("50688051481", pattern: /(\d{1,4})(\d{4})(\d{4})$/, area_code: true) %></p>
        <h3>Email</h3>
        <p><a href="mailto:abii98cm@gmail.com?subject=PortfolioContact" "email me"> Email me</a> at abii98cm@gmail.com</p>
      </div>
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15770.818733661787!2d-82.91853922314249!3d8.813789548724568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa434d5ac8dd9c5%3A0x204360dbd999e2f2!2sSabalito%2C%20Provincia%20de%20Puntarenas!5e0!3m2!1ses-419!2scr!4v1615224789494!5m2!1ses-419!2scr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</div>



